In [1]:
import json
import requests
import pandas as pd

In [2]:
def parse_request(r):
    dict_r = json.loads(r.text.split('\n')[0])
    text_list = list(dict_r.keys())
    value_list = list(dict_r.values())
    result = pd.DataFrame({'word':text_list,'similarity':value_list})
    df = result.sort_values(by=['similarity'],ascending=False)
    return df

In [3]:
request_string = 'I want cashback Debit Card'

In [4]:
url = 'http://kohotext.us-east-1.elasticbeanstalk.com/api'
payload = {"text":request_string}
headers = {"Content-Type":"application/json"}

In [5]:
r = requests.get(url,data = json.dumps(payload),headers = headers)

In [6]:
df = parse_request(r)

In [7]:
df

          word  similarity
2        cards    0.656813
1  cardholders    0.619310
9          you    0.608014
4  contactless    0.540737
7           ll    0.539718
8    overdraft    0.527230
3       cheque    0.514960
6           if    0.509748
0   cardholder    0.507774
5    customers    0.505341